@model MvcCv.Models.Entity.Talent

@{
    ViewBag.Title = "AddTalent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<title>Yeni Yetenek Ekleme</title>
<h2>Yeni Yetenek Ekleme Sayfası</h2>
<form method="post">
    <input type="text" class="form-control" name="TalentName" placeholder="Yetenek" required />
    <br />
    <input type="text" class="form-control" name="TalentPercent" placeholder="Yetenek Oranı" required />
    <br />
    <button type="submit" class="btn btn-info">Kaydet</button>
</form>
