@model MvcCv.Models.Entity.Talent
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yetenek Bilgisi Güncelleme</h2>
<br />
<form method="post">
    <label>ID</label>
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />
    <label>Yetenek</label>
    @Html.TextBoxFor(x => x.TalentName, new { @class = "form-control" })
    <br />
    <label>Oran</label>
    @Html.TextBoxFor(x => x.TalentPercent, new { @class = "form-control" })
    <br />
    <button type="submit" class="btn btn-warning">Güncelle</button>
</form>
