@model MvcCv.Models.Entity.Award
@{
    ViewBag.Title = "AddCertificate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<title>Sertifika Ekleme</title>
<br />
<h3>Sertifika Ekleme Sayfası</h3>
<br />
<form method="post">
    <input type="text" name="Description" placeholder="Açıklama..." class="form-control" required />
    <br />
    <input type="text" name="Date" placeholder="Tarih..." class="form-control" required />
    <br />
    <button class="btn btn-success" type="submit">Yeni Sertifika Ekle</button>
</form>

